@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right top, #051937, #004a71, #008089, #00b475, #b0de49);
  min-height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
 margin-left: 20%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  float: left;
}
.ayana{
  max-width: 100%;
        max-height: 100%;
}

a {
  display: block;
  padding: 8px;
}

textarea{
  margin:0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box{
  width: 400px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border: 1.5px solid black;
  padding: 10px;
  margin: 0 auto;
}

.bigBox{
  height:500px;
  width:800px;
  position:relative;
  background-color: #196195;
  margin-left: 300px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-top:3%;
}

img{
  height:200px;
  width:200px;
}

button{
font-family: Raleway;
font-weight: 900;
font-size: 15px;
color: #fff;
background-color: #00c9b7;
padding: 10px 30px;
border: solid #00c9b7 2px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
border-radius: 50px;
transition : 396ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: uppercase;
margin:0 auto;
}

button:hover{

transition : 396ms;
padding: 10px 39px;
transform : translateY(-3px);
background-color: #fff;
color: #00c9b7;
border: solid 2px #00c9b7;
}

.ContactBox{
  height:500px;
  width:800px;
  position:relative;
  background-color: #196195;
  margin-left: 300px;
  display: flex;
  justify-content: center;
  margin-top: 100px;;

}
.AboutBox{
  height:500px;
  width:800px;
  position:relative;
  background-color: #196195;
  margin-left: 300px;
  display: flex;

  margin-top: 100px;;
}
